body, html {
  height: 100%;
  width: 100%;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  -webkit-tap-highlight-color: transparent;
}
